@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');
// font-family: 'Fira Code', monospace;

@import './res/reset';
@import './components/index.scss';

@import './utils/index.scss';
@import './layouts/index.scss';

body {
    background-image: var(--img-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    background-color: var(--bg-color);

    margin-bottom: 3rem;
}