.c-hora-local {
    width: 100%;
    display: flex;
    justify-content: center;

    position: relative;

    .hora-local {
        font-family: "Fira Code", monospace;
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        color: var(--head-air-sun);
        position: absolute;
        top: -30px;
    }
}
