:root[data-theme="dracula"] {
    --bg-input-search: #282A36;
    --cor-font-input: #EFA554;
    --focus-input: #9B6BDF;
    --cor-placeholder-input: #E356A7;
    --bg-button-search: #282A36;
    --cor-button-search: #E356A7;
    --bg-button-search-hover: #282A36;
    --boxShadow-input-search: rgba(189, 147, 249, 0.3);

    --openW-maps-h2-cor: #f8f8f2;
    --icon-main-sun: #f8f8f2;

    --img-bg: initial;
    --img-bg-tempNow: initial;

    --bg-color: #282A36; 
    --bg-color-week: #282A36;
    --shawdow-b-week: rgba(189, 147, 249, 0.3);

    --icon-head: #50FA7B;

    --text-city: #E356A7;

    --h1-temp: #f8f8f2;
    --span-temp: #6272a4;
    --p-temp: #8BE9FD;
    --b-temp: #F1FA8C;  
    --bg-statistics: rgba(255, 255, 255, 0.041);
    --icon-statics: #EFA554;
    --info-statics: #8BE9FD;
    --span-info: #75D7EC;

    --icon-air-sun: #50FA7B;
    --head-air-sun: #E356A7;

    --visible-info-cor: #f8f8f2;
    --visible-info2-cor: #6272a4;

    --air-p-num: #42E66C;
    --air-strong-info: #f8f8f2;

    --h3-days: #E356A7;
    --foo-p-days: #f8f8f2;
    --s-foo-days: #6272a4;
    --foo-data-cor: #6272a4;

    --styleCoords: #f8f8f2;
    --stylePCoords: #6272a4;

    --icon-svg-day: #EFA554;
    --icon-svg-night: #6272a4;
    --icon-svg-sun: #6272a4;
    --icon-svg-moon: #EFA554;

    --map-bg-color: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
// #141420
// #1f1d2b

// #262626
// #E356A7
// #42E66C
// #E4F34A
// #9B6BDF
// #E64747
// #75D7EC
// #EFA554
// #7A7A7A
// #FF79C6
// #50FA7B
// #F1FA8C
// #BD93F9
// #FF5555
// #8BE9FD
// #FFB86C
