:root[data-theme="massaRosa"] {
    --bg-input-search: #ffdbd7;
    --cor-font-input: #855e6e;
    --focus-input: #ce7095;
    --cor-placeholder-input: #855e6e;
    --bg-button-search: #ffdbd7;
    --cor-button-search: #855e6e;
    --bg-button-search-hover: #ffdbd7;
    --boxShadow-input-search: rgba(0, 0, 0, 0.1);

    --visible-info-cor: #ce7095;
    --visible-info2-cor: #855e6e;

    --openW-maps-h2-cor: #855e6e;

    --img-bg: initial;
    --img-bg-tempNow: initial;
    --blur-bg: filter: blur(20px);

    --bg-color: #ffdbd7;
    --bg-color-week: #ffdbd7; 

    --shawdow-b-week: rgba(0, 0, 0, 0.1);

    --icon-head: #855e6e;

    --text-city: #855e6e;

    --h1-temp: #855e6e;
    --span-temp: #855e6e;
    --p-temp: #855e6e;
    --b-temp: #885e6e;
    --bg-statistics: #ce7095;
    --icon-statics: #ffdbd7;
    --info-statics: #ffdbd7;
    --span-info: #855e6e;

    --icon-air-sun: #855e6e;
    --head-air-sun: #855e6e;
    --styleCoords: #ce7095;
    --stylePCoords: #855e6e;

    --air-p-num: #855e6e;
    --air-strong-info: #ce7095;

    --icon-main-sun: #855e6e;

    --h3-days: #855e6e;
    --foo-p-days: #ce7095;
    --s-foo-days: #855e6e;
    --foo-data-cor: #855e6e;
}

// .color1 { #f7f1e1 };
// .color2 { #ffdbd7 };
// .color3 { #ffb2c1 };
// .color4 { #ce7095 };
// .color5 { #855e6e };