:root[data-theme="sorvete"] {
    --bg-input-search: #05a1ad;
    --cor-font-input: #4e031e;
    --focus-input: #5a4c6e;
    --cor-placeholder-input: #4e031e;
    --bg-button-search: #05a1ad;
    --cor-button-search: #4e031e;
    --bg-button-search-hover: #05a1ad;
    --boxShadow-input-search: rgba(0,0,0, 0.1);

    --visible-info-cor:#5a4c6e;
    --visible-info2-cor: #4e031e;

    --openW-maps-h2-cor: #5a4c6e;

    --foo-data-cor: #5d2d4e;

    --img-bg: initial;
    --img-bg-tempNow: initial;
    --blur-bg: filter: blur(20px);

    --bg-color: #05a1ad;
    --bg-color-week: #05a1ad; 

    --shawdow-b-week: rgba(0,0,0, 0.1);

    --icon-head: #4e031e;

    --text-city: #5a4c6e;

    --h1-temp: #5a4c6e;
    --span-temp: #5d2d4e;
    --p-temp: #5a4c6e;
    --b-temp: #4e031e;
    --bg-statistics: #447390;
    --icon-statics: #5d2d4e;
    --info-statics:  #4e031e;
    --span-info:  #4e031e;

    --icon-air-sun: #4e031e;
    --head-air-sun: #5a4c6e;
    --styleCoords: #4e031e;
    --stylePCoords: #5d2d4e;


    --air-p-num: #4e031e;
    --air-strong-info: #5a4c6e;

    --icon-main-sun: #4e031e;

    --h3-days: #5d2d4e;
    --foo-p-days: #4e031e;
    --s-foo-days:#5a4c6e;

    --icon-svg-day: #5d2d4e;
    --icon-svg-night: #4e031e;
    --icon-svg-sun: #9b5284;
    --icon-svg-moon: #9b5284;
}

// .color1 { #4e031e };
// .color2 { #5d2d4e };
// .color3 { #5a4c6e };
// .color4 { #447390 };
// .color5 { #05a1ad };