:root[data-theme="temaBlack"] {
    --bg-input-search: #000000f3;
    --cor-font-input: #FFF;
    --focus-input: #FFFFFF;
    --cor-placeholder-input: #FFF;
    --bg-button-search: #000000f3;
    --cor-button-search: #FFF;
    --bg-button-search-hover: #191919;
    --boxShadow-input-search: rgba(200,200,200, 0.2);

    --visible-info-cor:#FFF;
    --visible-info2-cor: #DAD8F7;

    --openW-maps-h2-cor: #FFFFFF;

    --styleCoords: #FFF;
    --stylePCoords: #DAD8F7;

    --foo-data-cor: #FFF;

    --img-bg:initial;
    --img-bg-tempNow: initial;
    --blur-bg: filter: blur(20px);

    --bg-color: #000000f3;
    --bg-color-week: #000000f3; 

    --shawdow-b-week: rgba(200,200,200, 0.2);

    --icon-head: #FFFFFF;

    --text-city: #FFFFFF;

    --h1-temp: #FFFFFF;
    --span-temp: #DAD8F7;
    --p-temp: #FFFFFF;
    --b-temp: #DAD8F7;
    --bg-statistics: #07976c;
    --icon-statics: white;
    --info-statics: #FFFFFF;
    --span-info: #DAD8F7;

    --icon-air-sun: #FFFFFF;
    --head-air-sun: #FFFFFF;

    --air-p-num: #87EBCD;
    --air-strong-info: #FFF;

    --icon-main-sun: white;

    --h3-days: #FFF;
    --foo-p-days: #FFFFFF;
    --s-foo-days:#DAD8F7;

    --icon-svg-day: #FFFFFF;
    --icon-svg-night: #292931;
    --icon-svg-sun: #e2dbdb;
    --icon-svg-moon: #e2dbdb;
}